pandas
numpy
scikit-learn
xgboost
fastapi
uvicorn
pymongo
joblib
python-multipart
imbalanced-learn
streamlit
plotly

# caso de erro para uvicorn: 
# Bash:
# source venv/Scripts/activate
# OU 
# pip install uvicorn
